.All {
  .elemWrap {
    margin: 60% auto;
    .inputWrap {
      position: relative;
      display: flex;
      align-items: center;
      width: 220px;
      height: 30px;
      box-shadow: 0 2px 5px 1px rgba(50, 47, 52, 0.16);
      border-radius: 20px;
      background: #fff;
      margin-bottom: 5%;
      .input {
        margin-left: 7%;
        width: 190px;
        height: 25px;
        border: none;
        background: transparent;
      }
      .input::placeholder {
        text-align: center;
      }
    }
    .btn {
      width: 220px;
      height: 30px;
      border: none;
      border-radius: 25px;
      margin-bottom: 5%;
      cursor: pointer;
      box-shadow: 0 2px 5px 1px rgba(50, 47, 52, 0.169);
    }
  }
}
