$stShadow: 0 2px 5px 1px rgba(50, 47, 52, 0.16);
$stFont: "Nanum Gothic Coding", monospace;
$stFont-size: 15px;

.All {
  display: flex;
  .loginWrap {
    margin: 100% auto;
    .inputWrap {
      position: relative;
      display: flex;
      align-items: center;
      width: 220px;
      height: 30px;

      box-shadow: $stShadow;
      border-radius: 20px;
      background: #fff;
      margin-bottom: 5%;
      .input {
        margin-left: 7%;
        width: 190px;
        height: 25px;
        border: none;
        font-size: $stFont-size;
        background: transparent;
      }
      .input::placeholder {
        text-align: center;
        font-size: $stFont-size;
      }
    }
    .btn {
      width: 220px;
      height: 30px;
      border: none;
      border-radius: 25px;
      margin-bottom: 5%;
      cursor: pointer;
      vertical-align: middle;
      font-weight: bold;
      font-size: $stFont-size;
      box-shadow: $stShadow;
    }
  }
}
