.mobile-wrapper {
  max-width: 428px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.All {
  width: 100%;
  display: flex;
  margin: 0% auto;
  height: 100%;
  max-width: 428px;
  background: linear-gradient(to bottom, #cadced 33%, #002c5528);
  box-shadow: 0 2px 5px 1px rgba(12, 12, 12, 0.319);
}
